<div class="timeline-container-global" id="post-id-85" data-id="85" data-date="2019-01-03">
    <div class="cd-timeline__block js-cd-block">
        <div class="cd-timeline__img js-cd-img uk-text-center uk-scrollspy-inview uk-animation-scale-down" uk-scrollspy="cls:uk-animation-scale-down" style="">
            <i class="fas fa-pencil-alt uk-position-center img"></i>
        </div>

        <div class="cd-timeline__content arrow-block js-cd-content uk-scrollspy-inview uk-animation-slide-right-medium" uk-scrollspy="cls:uk-animation-slide-right-medium" style="">
            <a class="cd-timeline__close btn btn-primary remove-to-fullscreen">
                <i class="fa fa-times"></i> close</a>
            <div class="timeline-post-show uk-margin-bottom">
                <div class="timeline-row uk-box-shadow-medium uk-flex">
                    <div class="timeline-text uk-padding-small cd-timeline__widget uk-width-2-3">
                        <div class="timeline-text-title">
                            <div class="uk-flex">
                                <div class="uk-width-1-2 uk-text-left">
                                    <h2>Test</h2>
                                </div>

                                <div class="uk-width-1-2 uk-text-right">
                                    <button class="btn btn-default" data-toggle="modal" data-target="#share-modal">
                    <i
                      class="fa fa-share-alt"
                      uk-tooltip="Share"
                      title=""
                      aria-expanded="false"
                    ></i>
                  </button>
                                </div>
                            </div>
                        </div>

                        <div class="description text-justify">
                            <div class="form-group">
                                <div class="editor"></div>
                                <a class="cd-timeline__read-more btn btn-primary set-to-fullscreen">
                                    <i class="fa fa-align-justify"></i> read_more</a>
                            </div>

                            <div class="uk-width-1-3">
                                <div class="uk-flex uk-flex-column">
                                    <div class="cd-timeline__widget uk-width last-item post-map-full-height">
                                        <div class="single-marker-map">
                                            <input type="hidden" class="location" data-lat="37.7648" data-lng="-122.463" data-location-name="San Francisco" />
                                            <div class="uk-width map leaflet-container leaflet-touch leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom" style="position: relative;" tabindex="0"></div>

                                            <div class="row row-no-gutter uk-box-shadow-medium uk-margin-bottom">
                                                <div class="timeline-images timeline-widget">
                                                    <div class="uk-width uk-margin-bottom">
                                                        <input type="hidden" class="grid-gallery-row-height" value="125" />
                                                        <div class="grid-gallery justified-gallery" style="height: 127px;">
                                                            <a class="box jg-entry entry-visible" href="http://web.worldtravelers/media/cache/large_image/media/4/3/6/5e8f35a722040_trip-map.png">
                                                                <img alt="World Travelers - San Francisco-  image 1" src="http://web.worldtravelers/media/cache/thumbnails/media/4/3/6/5e8f35a722040_trip-map.png" />
                                                                <div class="caption">
                                                                    World Travelers - San Francisco- image 1
                                                                </div>
                                                            </a>
                                                            <a class="box jg-entry entry-visible" href="http://web.worldtravelers/media/cache/large_image/media/4/3/6/5e8f37e14fafc_trip-map.png">
                                                                <img alt="World Travelers - San Francisco-  image 2" src="http://web.worldtravelers/media/cache/thumbnails/media/4/3/6/5e8f37e14fafc_trip-map.png" />
                                                                <div class="caption">
                                                                    World Travelers - San Francisco- image 2
                                                                </div>
                                                            </a>
                                                            <a class="box jg-entry entry-visible" href="http://web.worldtravelers/media/cache/large_image/media/4/3/6/5e8f3822ce05f_mymerrys-2.png">
                                                                <img alt="World Travelers - San Francisco-  image 3" src="http://web.worldtravelers/media/cache/thumbnails/media/4/3/6/5e8f3822ce05f_mymerrys-2.png" />
                                                                <div class="caption">
                                                                    World Travelers - San Francisco- image 3
                                                                </div>
                                                            </a>
                                                            <a class="box jg-entry entry-visible" href="http://web.worldtravelers/media/cache/large_image/media/4/3/6/5e8f3868df462_mymerrys-1.png">
                                                                <img alt="World Travelers - San Francisco-  image 4" src="http://web.worldtravelers/media/cache/thumbnails/media/4/3/6/5e8f3868df462_mymerrys-1.png" />
                                                                <div class="caption">
                                                                    World Travelers - San Francisco- image 4
                                                                </div>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="comment-container" data-url="/comments/type/post/entity/85/"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>